<section class='mt-10 container mx-auto px-4'>
  <p class='uppercase text-[#545454] text-4xl'>
    Experiencias de nuestros <strong>expositores y visitantes</strong>
  </p>
  <div class='mt-10 mb-10 grid md:grid-cols-2 gap-8'>
    <div
      class='grid lg:grid-cols-2 items-center bg-white md:flex-row md:max-w-xl hover:bg-gray-100'
    >
      <img
        class='object-cover w-full rounded-t-lg h-full md:rounded-none md:rounded-s-lg'
        src='/gianluca.webp'
        alt='antonio luna'
      />
      <div class='flex flex-col justify-between p-4 leading-normal'>
        <img
          src='/logo_panizzolo_recycling_system.webp'
          width='100'
          alt='Panizzolo REcycling Systems'
        />
        <h5
          class='text-2xl font-bold tracking-tight text-gray-900 leading-none'
        >
          Gianluca De Checchi
        </h5>
        <span>Manager en América Latina de Panizzolo Recycling Systems </span>
        <p class='mt-3 font-normal text-gray-500'>
          “Es el primer año participando en Ecomondo México, después de haber
          participado muchas veces en Italia. Fue una experiencia muy
          interesante, una buena afluencia. Va a ser interesante el año que
          viene, para nosotros México es un mercado nuevo. Encontramos varias
          personas interesantes para empezar colaboraciones”.
        </p>
      </div>
    </div>
    <div
      class='grid lg:grid-cols-2 items-center bg-white md:flex-row md:max-w-xl hover:bg-gray-100'
    >
      <img
        class='object-cover w-full rounded-t-lg h-full md:rounded-none md:rounded-s-lg'
        src='/miguelangel.webp'
        alt='paolo malftiano'
      />
      <div class='flex flex-col justify-between p-4 leading-normal'>
        <img src='/evonik2020.webp' width='100' alt='Evonik' />
        <h5
          class='text-2xl font-bold tracking-tight text-gray-900 leading-none'
        >
          Miguel Ángel Delgado
        </h5>
        <span>Evonik Industries de México</span>
        <p class='mt-3 font-normal text-gray-500'>
          “La Feria realmente fue muy buena. Nos acercó a gente que está
          realmente interesada en el tratamiento de la materia orgánica, la
          recuperación del biogás para poder llevar a cabo la generación de
          energía eléctrica de origen renovable”.
        </p>
      </div>
    </div>
    <div
      class='grid lg:grid-cols-2 items-center bg-white md:flex-row md:max-w-xl hover:bg-gray-100'
    >
      <img
        class='object-cover w-full rounded-t-lg h-full md:rounded-none md:rounded-s-lg z-10'
        src='/saldivar.webp'
        alt='visitante ecomondo mexico'
      />

      <div class='flex flex-col justify-between leading-normal'>
        <h5
          class='text-2xl font-bold tracking-tight text-gray-900 leading-none ps-4'
        >
          Iván Saldívar
        </h5>
        <div class='mt-14 mb-2'>
          <span
            class='ps-2 lg:ps-14 pe-2 lg:m-[-30px] -z-0 rounded-lg text-2xl tracking-tight text-white bg-[#445441]'
          >
            VISITANTE
          </span>
        </div>
        <p class='ps-4 mb-3 font-normal text-gray-500'>
          “La Feria me pareció excelente. Cumplió con los estándares y las
          expectativas. La experiencia fue positiva, nos llevamos mucho
          aprendizaje y una cartera comercial para hacer negocios. Todo fue de
          buen nivel”.
        </p>
      </div>
    </div>
    <div
      class='grid lg:grid-cols-2 items-center bg-white md:flex-row md:max-w-xl hover:bg-gray-100'
    >
      <img
        class='object-cover w-full rounded-t-lg h-full md:rounded-none md:rounded-s-lg z-10'
        src='/anasofia.webp'
        alt='visitante ecomondo mexico'
      />
      <div class='flex flex-col justify-between leading-normal'>
        <h5
          class='text-2xl font-bold tracking-tight text-gray-900 leading-none ps-4'
        >
          Ana Sofía Ayala
        </h5>
        <div class='mt-14 mb-2'>
          <span
            class='ps-2 lg:ps-14 pe-2 lg:m-[-30px] -z-0 rounded-lg text-2xl tracking-tight text-white bg-[#445441]'
            >VISITANTE</span
          >
        </div>
        <p class='ps-4 mb-3 font-normal text-gray-500'>
          “Me encantó la Feria, estoy enamorada de cómo las personas están
          interesadas en la búsqueda de soluciones para un futuro sostenible”.
        </p>
      </div>
    </div>
  </div>
</section>
