<section class='mt-10 container mx-auto px-4'>
  <p class='uppercase text-[#545454] text-4xl'>
    Experiencias de nuestros <strong>expositores y visitantes</strong>
  </p>
  <div class='mt-10 mb-10 grid md:grid-cols-2 gap-8'>
    <div
      class='grid lg:grid-cols-2 items-center bg-white md:flex-row md:max-w-xl hover:bg-gray-100'
    >
      <img
        class='object-cover w-full rounded-t-lg h-full md:rounded-none md:rounded-s-lg'
        src='/antonio_luna.webp'
        alt='antonio luna'
      />
      <div class='flex flex-col justify-between p-4 leading-normal'>
        <img src='/ecotec.webp' width='100' alt='ecotec' />
        <h5
          class='text-2xl font-bold tracking-tight text-gray-900 leading-none'
        >
          Antonio Luna
        </h5>
        <span>Director comercial de ECOTEC</span>
        <p class='mt-3 font-normal text-gray-500'>
          "Hemos tenido la presencia de muchas personas interesadas, tanto a
          nivel gobierno como empresas privadas. Nos ha ayudado mucho para
          acercarnos más a diferentes áreas de esta región".
        </p>
      </div>
    </div>
    <div
      class='grid lg:grid-cols-2 items-center bg-white md:flex-row md:max-w-xl hover:bg-gray-100'
    >
      <img
        class='object-cover w-full rounded-t-lg h-full md:rounded-none md:rounded-s-lg'
        src='/paolo_malfitano.webp'
        alt='paolo malftiano'
      />
      <div class='flex flex-col justify-between p-4 leading-normal'>
        <img src='/ita.webp' width='100' alt='italian trade agency' />
        <h5
          class='text-2xl font-bold tracking-tight text-gray-900 leading-none'
        >
          Antonio Luna
        </h5>
        <span>Director comercial de ECOTEC</span>
        <p class='mt-3 font-normal text-gray-500'>
          "Consideramos la segunda edición de Ecomondo Mexico como un éxito.
          Estamos convencidos que se puede consolidar como uno de los eventos
          más importantes del sector ambiental del área centroamericana y
          caribeña, es el inicio de un importante área para México y el mundo".
        </p>
      </div>
    </div>
    <div
      class='grid lg:grid-cols-2 items-center bg-white md:flex-row md:max-w-xl hover:bg-gray-100'
    >
      <img
        class='object-cover w-full rounded-t-lg h-full md:rounded-none md:rounded-s-lg z-10'
        src='/visitante_1.webp'
        alt='visitante ecomondo mexico'
      />
      <div class='flex flex-col justify-between leading-normal'>
        <div class='mt-14 mb-2'>
          <span
            class='ps-2 lg:ps-14 pe-2 lg:m-[-30px] -z-0 rounded-lg text-2xl tracking-tight text-white bg-[#445441]'
            >VISITANTE</span
          >
        </div>
        <p class='ps-4 mb-3 font-normal text-gray-500'>
          “Estuvieron muy provechosas las conferencias, con información muy
          valiosa, fue muy interesante conocer las experiencias y conocimientos
          de expertos de la industria; hubo bastantes conferencistas
          internacionales”.
        </p>
      </div>
    </div>
    <div
      class='grid lg:grid-cols-2 items-center bg-white md:flex-row md:max-w-xl hover:bg-gray-100'
    >
      <img
        class='object-cover w-full rounded-t-lg h-full md:rounded-none md:rounded-s-lg z-10'
        src='/visitante_2.webp'
        alt='visitante ecomondo mexico'
      />
      <div class='flex flex-col justify-between leading-normal'>
        <div class='mb-2'>
          <span
            class='ps-2 lg:ps-14 pe-2 lg:m-[-30px] -z-0 rounded-lg text-2xl tracking-tight text-white bg-[#445441]'
            >VISITANTE</span
          >
        </div>
        <p class='ps-4 mb-3 font-normal text-gray-500'>
          “Tuvimos muchos contactos, hablamos con expositores muy interesantes,
          tenemos la intención de participar en siguientes ediciones”.
        </p>
      </div>
    </div>
  </div>
</section>
