---
interface Props {
  title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta
      name='keywords'
      content='Expo de Sustentabilidad en Mexico y Latinoamerica, feria de sustentabilidad'
    />
    <meta
      name='description'
      content='Ecomondo Mexico, la feria de tecnología ambiental de Latinoamerica.'
    />
    <meta name='viewport' content='width=device-width' />
    <link rel='sitemap' href='/sitemap-index.xml' />
    <link rel='icon' href='/favicon.jpg' />
    <meta name='generator' content={Astro.generator} /><title>
      {title}
    </title></head
  >

  <body>
    <slot />
  </body>
  <style is:global>
    .ecomondo-bloq-1 {
      background-image: url('/bgecomondo.webp');
      background-repeat: no-repeat;
      background-size: cover;
    }
    html {
      font-family: system-ui, sans-serif;
    }
  </style>
</html>
